.App {
    font-family: sans-serif;
}

.Header {
    text-align: center;
}

.Subheader {
    text-align: center;
}

.completed {
    margin: 10px;
    width: 100vh;
}
.not-completed {
    margin: 10px;
    width: 100vh;
}
button {
    background-color: #4caf50;
    border: 6px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 4px 2px;
    align-items: center;
    width: 150px;
    height: 40px;
}
